.categoryPageItems {
	margin: 0 101px 101px 101px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 103px 40px;
}

.categoryPageLoadButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 386px;
	height: 444px;
}

.categoryPageLoadButton button {
	border: none;
	background: #5ece7b;
	width: 292px;
	height: 52px;
	font-family: Raleway;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 120%;
	color: #ffffff;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
}
