.container {
	height: 80px;
	margin: 0 101px 0 101px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.categories {
	width: 234px;
	padding-top: 24px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	padding: 0px;
}

.categories a {
	height: 70px;
	width: 80px;
	text-align: center;

	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 400%;
	text-transform: uppercase;
	color: #1d1f22;
	text-decoration: none;
}

a.active {
	font-weight: 600;

	color: #5ece7b;

	border-bottom: 2px solid;
}

.logo {
	width: 41px;
	height: 41px;
}

.cartAndCurrency {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.cartAndCurrency button {
	margin-left: 22px;
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

.currencyIcon {
	height: 29px;
	width: 38px;
}

.cartIcon {
	width: 20px;
	height: 20px;
}
