.modal {
	padding: 8px 16px 8px 16px;

	position: absolute;
	top: 80px;
	right: 87px;
	width: 350px;
	background: white;
	z-index: 20000;
}
.modalWrapper {
	max-height: 600px;
	overflow-y: auto;
}

p {
	margin: 0 0 23px 0;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 160%;
	color: #1d1f22;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 92vh;
	left: 0px;
	top: 80px;
	z-index: 100;

	background: rgba(57, 55, 72, 0.22);
}

.modalHeader {
	margin-bottom: 23px;
	font-family: Raleway;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 160%;
	color: #1d1f22;
}

.modalHeader span:first-child {
	font-weight: bold;
}

.modal .totalPrice {
	display: flex;
	justify-content: space-between;
}

.totalPrice div:nth-child(2) {
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 160%;
	color: #1d1f22;
}

.totalPrice div:nth-child(1) {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #1d1f22;
}

.buttons {
	margin-top: 35px;
	display: flex;
	justify-content: space-between;
}

.buttons button {
	border: 1px solid #1d1f22;

	width: 155px;
	height: 43px;
	background-color: transparent;
	background-repeat: no-repeat;
	cursor: pointer;

	outline: none;
	text-transform: uppercase;
}

.buttons button:nth-child(2) {
	background: #5ece7b;
	border: none;
	font-family: Raleway;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 120%;
	color: #ffffff;
	text-transform: uppercase;
}
